@import "../../assets/variables.scss";


.feedbackForm {
  padding: 0 25px;
}

.feedbackForm-header {
  margin: 25px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
}

.feedbackForm-body {
.input {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;

}
  .textarea {
    min-height: 150px;
    resize: none;
  }
  .input-error {
    border: 1px solid red;
  }
}
