@import "../../assets/variables.scss";

.header {
  // height: 133px;
  background-color: $secondary-color;
}

.header-list {
  &__item {
    padding-left: 45px;
    cursor: pointer;
    text-align: end;
  }
}
@media only screen and (min-width: 1200px) {
  .header-list {
    &__item {
      padding-left: 77px;
    }
  }
}

