$main-font: 'Montserrat', sans-serif;

$main-color: #22C8D6;
$secondary-color: #0C323B;
$caption-color: #020300;
$text-color: #FFFFFF;


.uppercase {
  text-transform: uppercase;
}

.square-list {
  list-style-type: square;
}

.medium-weight {
  font-weight: 500;
}

